site_name: "Cours de NSI - Première - Groupe de M. Gouygou"
site_url: "https://cgouygou.github.io/1NSI/"

# nav:
#   - 'accueil' : 'index.md'
#   - 'Thème 1: Bases de Python' : 
#     - 'Chap. 01 : Les variables' : 'theme1/01_variable.md'
#     - 'Chap. 02 : Instruction conditionnelle' : 'theme1/02_ifelse.md'
#   - 'Thème 2: Types construits' : 'theme2.md'
#   - 'Thème 3: Représentation des données' : 'theme3.md'
#   - 'Thème 4: Architecture matérielle' : 'theme4.md'

  # - 'cryptographie' : 'crypto.md'


theme:
  name: material
  site_url: ""
  custom_dir: my_theme_customizations/
  font: false
  language: fr

  icon:
    logo: fontawesome/solid/laptop-code
    repo : fontawesome/brands/github

  
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.expand
    - navigation.top
    - toc.integrate
    - header.autohide

  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/lightbulb-outline
        name: Mode sombre

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/lightbulb
        name: Mode clair


markdown_extensions:
  - meta
  - abbr
  - admonition
  - def_list
  - attr_list
  - footnotes
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
  - pymdownx.tasklist:
      custom_checkbox: false
      clickable_checkbox: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: ⚓︎
      toc_depth: 3


plugins:
  - search
  - macros
  - awesome-pages:
      collapse_single_pages: true

extra:
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:cedric.gouygou@ac-poitiers.fr
      name: Écrire à l'auteur

    - icon: fontawesome/brands/github
      link: https://github.com/cgouygou/1NSI
      name: Dépôt git

    - icon: fontawesome/solid/university
      link: https://lyceevalois.com
      name: Lycée Marguerite de Valois - Angoulême (16)

extra_javascript:
  - xtra/javascripts/interpreter.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js

extra_css:
  - stylesheets/extra.css
  - xtra/stylesheets/pyoditeur.css

copyright:  CC BY-SA / C. Gouygou

repo_url: https://github.com/cgouygou/1NSI
repo_name: cgouygou/1NSI

