.md-typeset div.arithmatex  {
    overflow: initial;
}

.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details {
    font-size: 0.8rem;
}

.center {
    display: block;
    margin: 0 auto;
}

.w640 {
    width: 640px;
}

:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.75 3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H1.75zM0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5z"/><path d="M6 10.559V5.442a.25.25 0 0 1 .379-.215l4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559z"/></svg>')
  }
  .md-typeset .admonition.video,
  .md-typeset details.video {
    border-color: rgb(200, 9, 3);
  }
  .md-typeset .video > .admonition-title,
  .md-typeset .video > summary {
    background-color: rgba(43, 101, 155, 0.1);
    border-color: rgb(200, 9, 3);
  }
  .md-typeset .video > .admonition-title::before,
  .md-typeset .video > summary::before {
    background-color: rgb(200, 9, 3);
     /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
  }


/* :root {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }

[data-md-color-scheme="youtube"] {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }
   */
